.nav-container{
  border-bottom: 1px solid rgb(232, 232, 232);
  box-shadow: 0px 1px 6px rgb(199, 199, 199);
}

.logo{
  font-size: 30px;
  font-weight: bold;
}

.logoimg{
  width: 30px;
}

.nav-inner{
  display:flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 5px;
}

.nav-link{
  color:rgb(0, 102, 0);
  padding: 20px;
}

.nav-button{
  color:rgb(0, 102, 0);
  border: 1px solid rgb(0, 102, 0);
  border-radius: 10px;
  padding: 10px;
}

.nav-button:hover{
  color:white;
  background-color: rgb(0, 102, 0);
}
.nav-link-container{
  padding: 20px;
}
