.auth-form{
  margin: 100px auto;
  width: 300px;
  border: 2px solid green;
  border-radius: 10px;
  padding: 30px
}
.auth-field{
  padding-top: 10px;
  padding-bottom: 10px;
  display:flex;
  flex-direction: column;
}

.auth-field label{
  font-weight: bold;
}

.auth-field label span{
  font-weight: normal;
}
.auth-form button{
  padding: 20px;
  margin-right: 20px;
}
