
.home-heading{
  display: flex;
  background-image: url('https://assets.taskrabbit.com/v3/assets/homepage/hero-img-desktop.jpg');
  height: 495px;
  width: 100vw;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}

.home-heading-inner{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  max-width: 600px;
  height: 385px;
  margin: 0 auto;
  text-align: center;
}

.home-heading-inner h2{
  font-size: 42px;
  padding: 5px 80px;
}
.home-heading-inner h4{
  margin-top: 0;
  padding: 5px 50px;
}

.hh-search-bar select{
  font-family: 'Lato', sans-serif;
  padding:10px;
  border: 1px solid gray;
  border-radius: 5px;
  width: 300px;
  margin: 10px;
}
.hh-search-bar button{
  background-color:rgb(44, 172, 44);
  color: white;
  border:none;
  padding:10px;
  border-radius: 5px;
}


.home-body{
  display:flex;
  width:80vw;
  max-width: 1000px;
  height: 900px;
  flex-direction: column;
  justify-content: space-between;
  margin:0 auto;
  margin-top: 100px;

}

.home-body div{
  width: 700px;
}

.home-chunk{
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.home-chunk div{
  padding:20px;
}

.home-chunk img{
  width:300px;
}

.home-splash-2{
  align-self: flex-end;
}
