.sp-container{
  display: flex;
  justify-content: center;
}

.tasker-card{
  display:flex;
  border: 1px solid lightgray;
  margin-bottom: 10px;
  padding: 10px;
}

.sp-left{
  margin: 30px;

}

.sp-left-card{
  padding: 20px;
  width: 300px;
  height: 200px;
  border: 1px solid lightgray;
}

.sp-left-card div{
  margin-bottom: 10px;
}

.sp-left-card input{
  margin-bottom: 30px;
}

.sp-right{
  margin: 10px;
  padding: 20px;
  width: 500px;
}

.tasker-left{
  display:flex;
  flex-direction: column;
  width:200px;
  margin-right: 30px;
}

.tasker-avatar{
  width:180px;
  height:180px;
  border-radius: 30px;
  padding: 10px;
}

.highlight{
  background-color: rgb(167, 223, 167);
  box-shadow: 0px 1px 6px rgb(167, 223, 167);
}

.profile-button{
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  background-color:rgb(44, 172, 44);
  color: white;
  border:none;
  padding:10px;
  border-radius: 5px;
  margin-top: 5px;
  font-size: 14px;
  text-align: center;
}

.tasker-name{
  margin-top: 10px;
  font-weight: bold;
  font-size: 30px;
}

.tasker-tasks-count{
  margin-top: 10px;
  margin-bottom: 10px;
}

.tasker-bio-section{
  word-wrap: break-word;
  max-width: 250px;
}
