.services-body{
  margin: 0 auto;
  display:flex;
  flex-wrap: wrap;
  max-width: 80vw;
}

.services-banner{
  max-width: 100%;
  background-image: url(https://res.cloudinary.com/taskrabbit-com/image/upload/q_auto,f_auto/v1622682011/rx0seiq8jsml7pgkgrec.png);
  background-size:120%;
  background-repeat: no-repeat;
  min-height:400px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.banner-quote{
  color:white;
  font-size: 30px;
  font-weight: bold;
}

.services-card{
  margin: 30px auto;
  max-width: 300px;
  border: 1px solid lightgray;
  padding-bottom: 15px;
}

.services-img{
  width:fit-content;
  height:265px;
  object-fit:cover;
  object-position:center;
}

.services-name{
  margin-left: 10px;
  font-size: 30px;
  font-weight: bold;
}
